#form-container{
    border: 1px solid #707070;
    position: relative;
    top: 50px;
    left: 500px;
    width: 490px;
    height: 150px;
    padding: 8px;
    padding-top: 25px;
}
input{
    padding: 4px;
    padding-left: 8px;
}

.author,.location{
    border-radius: 5px;
    border: 1px solid #707070;
}

input[type="text"]{
    width: 308px;
    border-radius: 5px;
    border: 1px solid #707070;
}

input[type="button"]{
    border-radius: 5px;
    border: 1px solid #707070;
    width: 73px;
}
.user{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.description{
    margin-left: 50px;
    width: 78%;
    border-radius: 5px;
    border: 1px solid #707070;
}

.btn{
    margin-top: 15px;
    margin-left: 206px;
    color: #707070;
    border-color: grey;
    background-color:lightgray;
    font-weight: 100;
    font-size: 15px;
    height: 23px;
    border-radius: 5px;
    width: 80px;
}

.browsebtn{
    margin-left: 50px;
    margin-bottom: 5px;
    border-radius: px;
}